spring:
  application:
    name: notesapp

  datasource:
    url: jdbc:postgresql://localhost:5432/notesapp_db
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never

server:
  port: 8081

# JWT Configuration
jwt:
  secret: ${JWT_SECRET:gSJ4oTeHHUcr+NFvfyW4t0AArQ0/EODgjh+QLKLVKAw=}
  expiration: 86400000  # 24 hours in milliseconds

