spring:
  application:
    name: notesapp

  datasource:
    url: jdbc:postgresql://localhost:5432/notesapp_db
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never

server:
  port: 8081
